Day1-aws-technical-essentials/implementation/.terraform.lock.hcl
Day1-aws-technical-essentials/implementation/terraform.tfstate
Day1-aws-technical-essentials/implementation/terraform.tfstate.backup
Day1-aws-technical-essentials/implementation/.terraform
Day1-aws-technical-essentials/implementation/FlaskApp-Employee-Directory-Application
Day1-aws-technical-essentials/implementation/.terraform.tfstate.lock.info
Day1-aws-technical-essentials/implementation/key.pem

Day2-aws-iam-compute-storage/implementation/.terraform.lock.hcl
Day2-aws-iam-compute-storage/implementation/terraform.tfstate
Day2-aws-iam-compute-storage/implementation/terraform.tfstate.backup
Day2-aws-iam-compute-storage/implementation/.terraform
Day2-aws-iam-compute-storage/implementation/FlaskApp-Employee-Directory-Application
Day2-aws-iam-compute-storage/implementation/.terraform.tfstate.lock.info
Day2-aws-iam-compute-storage/implementation/key.pem


.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform
FlaskApp-Employee-Directory-Application
.terraform.tfstate.lock.info
key.pem

Day3-EBS-Databases/implementation-DynamoDB/.terraform.lock.hcl
Day3-EBS-Databases/implementation-DynamoDB/terraform.tfstate
Day3-EBS-Databases/implementation-DynamoDB/terraform.tfstate.backup
Day3-EBS-Databases/implementation-DynamoDB/.terraform
Day3-EBS-Databases/implementation-DynamoDB/FlaskApp-Employee-Directory-Application
Day3-EBS-Databases/implementation-DynamoDB/.terraform.tfstate.lock.info
Day3-EBS-Databases/implementation-DynamoDB/key.pem


Day3-EBS-Databases/implementation-RDS/.terraform.lock.hcl
Day3-EBS-Databases/implementation-RDS/terraform.tfstate
Day3-EBS-Databases/implementation-RDS/terraform.tfstate.backup
Day3-EBS-Databases/implementation-RDS/.terraform
Day3-EBS-Databases/implementation-RDS/FlaskApp-Employee-Directory-Application
Day3-EBS-Databases/implementation-RDS/.terraform.tfstate.lock.info
Day3-EBS-Databases/implementation-RDS/key.pem