.terraform.lock.hcl
terraform.tfstate
terraform.tfstate.backup
.terraform
FlaskApp-Employee-Directory-Application
.terraform.tfstate.lock.info
key.pem
terraform.tfstate
lambda_package
venv
.vscode
node_modules
package.json
package-lock.json
Day13-/
myenv
package
main.tf.lb
lambda-docker/
AWS-Skill-Exam-Badge.pdf
streaming/
